@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400&display=swap');

/*********************************************
Base Styles
**********************************************/
body {
  width: 1200px auto;
  font-family: 'Open Sans', sans-serif;
  overflow-x: hidden;
}

#container {
  display: grid;
  grid-template-columns: 10%  1fr 10%;
  grid-template-rows: repeat(1fr);
  grid-gap: 5px;
  * img {
    display: block;
    line-height: 0;
    max-width: 100%;
  }
}

#posterSection {
  grid-column: 2;
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: repeat(auto);
  grid-gap: 20px;
  padding: 20px;
}

#poster :hover {
  transition: 250ms ease-in;
  opacity: 0.5;
  cursor: pointer;
}
.pagenumbertop,
.pagenumberbotton {
  display: inline;
}

.pageSwitch {
  grid-column: 2;
  text-align: center;
}
#pageDownTop,
#pageUpTop,
#pageDownBotton,
#pageUpBotton {
  /* Default button styles removed */
  all: unset;
  padding: 1px 1px;
  text-decoration: none;
  font-size: 18px;
  cursor: pointer;
}

/*********************************************
modal
**********************************************/
.modal-bg {
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display: none;
  justify-content: center;
  align-items: center;

  .modal-content {
    width: 90vh;
    height: 85vh;
    background: white;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
    border-radius: 4px;
    text-align: center;
    padding: 40px;
    position: relative;
    animation-name: modalopen;
    animation-duration: 1s;
    overflow-y: auto;
    overflow-x: hidden;

    #description {
      font-size: 1vw;
    }
    @keyframes modalopen {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .close {
      position: absolute;
      top: 0;
      right: 10px;
      font-size: 42px;
      color: #333;
      transform: rotate(45deg);
      cursor: pointer;

      &:hover {
        color: #666;
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  #posterSection{
  grid-template-columns: auto auto;
  }
}
@media only screen and (max-width: 600px) {
  #posterSection{
  grid-template-columns: auto;
padding: 10px;
  }
}