html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.container {
  padding: 20px;
  margin: 0 auto;
}

section {
  position: relative;
  width: 100%;
  margin-top: 25px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  overflow-x: auto;
  transition: 250ms all;
}

#close {
  font-size: 50px;
  display: block;
}
